body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.center {
  display: grid;
  justify-content: center;
}

#tabuleiro {
  width: 380px;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-gap: 10px;
  background-color: black;
}

#tabuleiro button {
  font-size: 5em;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  border: 0;
  outline:none;
}

.azul {
  color: blue;
} 

.vermelho {
  color: red;
}